* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#board {
    position: absolute;
    background-color: #bafccd;
    border: 2px solid #000000;
}

/* Board items */
.snake {
    position: absolute;
    background-color: #49bdfc;
}

#food {
    position: relative;
    background-color: #fc5d8d;
}

#snake-head {
    background-color: #499afc;
}

/* Borders */
.snake, #food, #snake-head {
    border: 1px solid #000000;
}